.lang_flag {
    width: 30px;
}

.navbar-brand {
    border: 2px black solid;
    padding: 10px;
}

.navbar-brand:hover {
    color: red;
}

#myCarousel {
    background-color: red;
}

#myCarousel h3{
    font-size: 4rem;
    text-shadow: 2px 2px 2px gray;
}
#myCarousel h5{
    font-size: 2rem;
    text-shadow: 2px 2px 2px gray;

}

#myCarousel .carousel-caption{
    text-align: left;
    top: 10%;
    left: 5%;
    z-index: 2;
    height: 200px;
}

#myCarousel .btn-detail {
    border: 2px white solid;
}


#myCarousel .btn-detail:hover {
    background-color: #fff;
    color: #000;
}

/* Phần chung */

.section_header {
    text-align: center;
    margin-top: 40px;
}

.section_header h1 {
    text-transform: uppercase;
}

.section_flower {
    width: 30%;
}

/* collection */

.collection .body-card {
    width: 290px;
    height: 290px;
}

.collection .card-img-top {
    aspect-ratio: 1/1;
}

.collection .card-body {
    text-align: center;
    top: 30%;
    position: absolute;
    width: 100%;
}

.collection h5 {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 0px 10px grey;
    width: 100%;
    line-height: 40px;
    position: relative;

}

.collection .btn-primary {
    background-color: unset;
    border: 1px solid #fff;
}

.collection .card:hover .card-img-top{
    transform: scale(1.2);
    transition: 500ms ease-in-out;
}

.collection .img_frame {
    overflow: hidden;
}

.collection .card:hover h5{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.collection .card:hover .btn-primary {
    background-color: red;
    border: unset;
}

.collection .card {
    margin-bottom: 20px;
}

/* new product */

.product .side_bar {
    position: absolute;
    top: 10%;

}



.product .item_cart {
    position: absolute;
    width: 70px;
    font-size: 2rem;
    background-color: #EEE;
    right: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: 500ms ease-in-out;

}

.product .item_cart:hover {
    border-radius: unset;
    background-color: #FF4545;
    border-top-left-radius: 20px;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.product .card-body {
    height: 120px;
    /* position: relative; */
    text-align: center;
}

.product .card-title {

}

.product .new_pricre {
    color: blue;
}

.product .old_pricre {
    color: red;
    text-decoration: line-through;
}

.product .side_bar {
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    transition: 500ms ease-in-out;
    transform: translate(150%,20%);
}
.product .card:hover .side_bar{
    transform: translate(0%,20%);
    transition: 500ms ease-in-out;
}

.product .side_bar span {
    display: block;
    margin-bottom: 10px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    text-justify: auto;
    border-radius: 50%;
    transition: 500ms ease-in-out;
    /* padding-left: 10px; */
}

.product .side_bar span:hover {
    display: block;
    background-color: #FF4545;
    color: #fff;
    cursor: pointer;
    /* padding-left: 10px; */
}

.product .card {
    overflow: hidden;
    margin-top: 50px;
}